@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    @apply bg-offWhite;
  }
}

@layer components {
  .logo {
    @apply transition duration-300 ease-in-out;
    @apply hover:scale-110;
  }

  .navItem {
    @apply flex;
  }

  .navLink {
    @apply py-2 px-2;
    @apply text-veryDarkBlue capitalize;
    @apply transition duration-300 ease-in-out;
    @apply hover:text-softRed;
  }

  /* Main Grid */
  .mainGrid {
    @apply grid grid-cols-3 grid-rows-3;
    /* I think this is better */
    grid-template-rows: 1fr auto auto;
  }

  /* Side news */
  .sideNews {
    @apply row-span-2 px-6 py-8 bg-veryDarkBlue text-grayishBlue;
  }

  .sideNews h2 {
    @apply text-softOrange text-4xl font-bold;
  }

  .sideNews article {
    @apply border-t border-darkGrayishBlue;
  }

  .sideNews article:first-of-type {
    @apply border-t-0;
  }
  .sideNews h3 {
    @apply text-offWhite text-xl font-bold;
  }

  /* Button */
  .redLink {
    @apply bg-softRed px-4 py-2 transition duration-300 ease-in-out;
    @apply hover:bg-veryDarkBlue;
    @apply uppercase text-white tracking-[4px];
  }

  /* Latest articles */
  .latestArticle {
    @apply flex gap-6;
  }

  .latestArticle img {
    @apply w-1/3;
    @apply object-cover;
  }

  .laContent {
    @apply flex flex-col justify-between text-darkGrayishBlue;
  }

  .laHeader {
    @apply flex flex-col text-lg font-extrabold text-veryDarkBlue;
  }

  .laNumber {
    @apply text-4xl text-grayishBlue font-bold;
  }
}

@layer utilities {
  * {
    outline: 1px solid blue;
  }
}
